anonymous_enable={{ 'YES' if vsftpd_anonymous_enable else 'NO' }}
anon_upload_enable={{ 'YES' if vsftpd_anon_upload_enable else 'NO' }}
listen_ipv6={{ 'YES' if vsftpd_listen_ipv6 else 'NO' }}
listen={{ 'YES' if vsftpd_listen else 'NO' }}

local_enable=YES
write_enable=YES
local_umask=022
#anon_mkdir_write_enable=YES
dirmessage_enable=YES
xferlog_enable=YES
connect_from_port_20=YES
#chown_uploads=YES
#chown_username=whoever
#xferlog_file=/var/log/xferlog
xferlog_std_format=YES
#idle_session_timeout=600
#data_connection_timeout=120
#nopriv_user=ftpsecure
#async_abor_enable=YES
#ascii_upload_enable=YES
#ascii_download_enable=YES
#ftpd_banner=Welcome to blah FTP service.
#deny_email_enable=YES
# (default follows)
#banned_email_file=/etc/vsftpd/banned_emails
#chroot_local_user=YES
#chroot_list_enable=YES
# (default follows)
#chroot_list_file=/etc/vsftpd/chroot_list
#ls_recurse_enable=YES
pam_service_name=vsftpd
userlist_enable=YES
tcp_wrappers=YES